---
import BaseLayout from '../layouts/BaseLayout.astro';
import groupCoursesByCollection from '../groupCoursesByCollection.js';
import Course from '../components/Course.astro';
import { generateUniqueId } from '../utils.js';

// Fetching the courses data
const groupedCourses = await groupCoursesByCollection();
---
<BaseLayout>
  <main class="container flow flow-l">
    <h1 class="sr-only">Accessibility Courses</h1>
    {groupedCourses.length > 0 ? (
      groupedCourses.map((collection) => (
        <section id={collection.id} class="collection">
          <h2 id={`${collection.id}-heading`} class="collection__title">{collection.title}</h2>
          <ul role="list" aria-labelledby={`${collection.id}-heading`} class="grid">
            {collection.courses.map((course) => (
              <li key={course._id}>
                <Course course={course} />
              </li>
            ))}
          </ul>
        </section>
      ))
    ) : (
      <p>There are no courses to display.</p>
    )}
  </main>
</BaseLayout>