---
let { course } = Astro.props;
let { title, website, description, provider, teacher, level, timeRequired, targetAudience, method } =
  course;
import Tile from "../components/Tile.astro";
---

<article class="course flow flow-s" typeof="Course">
  <!-- <pre>{JSON.stringify(course, null, 2)}</pre> -->
  <div class="course__basics">
    <h3 class="course__title" property="name">{title}</h3>
    {
      provider.length > 0 && (
        <div class="course__providers">
          {provider.map(providerData => providerData.name).join(", ")}
          {provider.some(providerData => providerData.affiliate) && <sl-badge variant="neutral" pill>Affiliate</sl-badge>}
        </div>
      )
    }
    {
      teacher.length > 0 && (
        <div class="course__teachers">
          Taught by
          {teacher.map(
            (
              teacherData: { website: string | URL; name: unknown },
              teacherIndex: any
            ) =>
              teacherData.website ? (
                <span class="course__teacher">
                  <a href={teacherData.website} key={teacherIndex}>
                    {teacherData.name}
                  </a>
                </span>
              ) : (
                <span class="course__teacher" key={teacherIndex}>
                  {teacherData.name}
                </span>
              )
          )}
        </div>
      )
    }
  </div>
  <div class="course__details flow flow-s">
    <!-- <Tile label="Level" value={level} icon="fa-stairs" />
    <Tile label="Time required" value={timeRequired} icon="fa-clock" />
    <Tile label="Method" value={method} icon="fa-laptop" />
    <Tile label="Target audience" value={targetAudience} icon="fa-user-group" /> -->
    <dl class="flow flow-3xs">
      {level && (
        <div>
          <dt>Level</dt>
          <dd>{level}</dd>
        </div>
      )}
      {timeRequired && (
        <div>
          <dt>Time required</dt>
          <dd>{timeRequired}</dd>
        </div>
      )}
      {method && (
        <div>
          <dt>Method</dt>
          <dd>{method}</dd>
        </div>
      )}
      {targetAudience && (
        <div>
          <dt>Target audience</dt>
          <dd>{targetAudience}</dd>
        </div>
      )}
    </dl>
  </div>
  <div class="course__description" property="description">
    <p>{description}</p>
  </div>
</article>
<!-- End course -->

<style>
  .course {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: var(--space-s-m);
  }
  .course__basics {
      display: flex;
      flex-direction: column;
  }
  .course__title {
    order: 2;
  }
  .course__providers {
    font-size: var(--step--1);
    order: 1;
  }
  .course__teachers {
    order: 3;
    font-size: var(--step--1);
  }
  .course__details {
    font-size: var(--step--1);
    div {
      border-bottom: 1px dotted #ccc;
      padding-bottom: var(--space-3xs);
    }
    div:last-child {
      border-bottom: none;
    }
    dl div {
    display: flex;
    justify-content: space-between;
    dt, dd {
        margin: 0; /* Removes default margin */
    }
    dd {
        font-weight: bold;
    }
    }
  }
</style>
